<%- contentFor('header') %>
<h1 class="page-title">Hjs</h1>

<%- contentFor('footer') %>
<!--<h1>This is the footer</h1>-->


<%- contentFor('body') %>

    <div id="map"></div>

    <div id="ar" class="container">
      <div class="content">        
        <%= ar %>
      </div>
    </div>
    <div id="cl" class="container">
      <div class="content">        
        <%= cl %>
      </div>
    </div>    
    <div id="co" class="container">
      <div class="content">        
        <%= co %>
      </div>
    </div>        
    <div id="ve" class="container">
      <div class="content">        
        3446
      </div>
    </div>  
    <div id="ec" class="container">
      <div class="content">        
        <%= ec %>
      </div>
    </div>

    <div id="pe" class="container">
      <div class="content">        
        <%= pe %>
      </div>
    </div>
    <div id="bo" class="container">
      <div class="content">        
        No Info
      </div>
    </div>
    <div id="pa" class="container">
      <div class="content">        
        <%= pa %>
      </div>
    </div>    
    <div id="ur" class="container">
      <div class="content">        
        <%= ur %>
      </div>
    </div>
    <div id="br" class="container">
      <div class="content">        
        <%= br %>
      </div>
    </div>

<style>
  .page-message { color: blue }
</style>


<script>
  // Script content!
</script>



